{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<table class="table table-striped table-bordered">
    <tr>
        <th>{% trans 'Order placed' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Ordered by' %}</th>
        {% block additional_table_headers %}
        {% endblock %}
        <th></th>
    </tr>
{% for object in object_list %}
    <tr>
        <td>{{ object.order.date_placed }}</td>
        <td>{{ object.product }}</td>
        <td>{{ object.order.user.first_name }} {{ object.order.user.last_name }}</td>
        {% block additional_columns %}
        {% endblock %}
        <td>
            <form action="{% url order-line-approve object.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">{% trans 'Approve' %}</button>
            </form>
            <form action="{% url order-line-reject object.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">{% trans 'Reject' %}</button>
            </form>
            {% block additional_action_buttons %}
            {% endblock %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}